<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="fillPage()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>

<!--
    <ion-buttons end>
      <button ion-button icon-only (click)="inserPage()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  -->




  </ion-navbar>
</ion-header>

<ion-content padding>




  <div  *ngFor=" let rec of myComplain">


    <ion-list >

        <ion-item>

          <h2> Type: {{rec.type}} </h2>
          <h2 >Description {{rec.description}} </h2>
          <h2 *ngIf="rec.avancement === 'Pending Team leader validation'">Progress: In progress </h2>
          <h2 *ngIf="rec.avancement != 'Pending Team leader validation'" >Progress:  {{rec.avancement}}</h2>
          <h2>Project: {{rec.nameProjet}} </h2>
          <h2>Created : {{ rec.created_at }}</h2>

      <hr>
      </ion-item>

    </ion-list>

  </div>
</ion-content>
